{% load wiki_tags i18n cache sekizai_tags static %}

{% addtoblock "js" %}
  <script type="text/javascript" src="{% static "wiki/js/article.js" %}"></script>
{% endaddtoblock %}

<div class="wiki-article">
  {% if not preview %}
    {% if article.current_revision %}
      {{ article.get_cached_content }}

      <div id = "content">
        {{ content|default:"" }}
      </div>

      <div id = "keywords">
        {{ keywords| safe}}
      </div>

      <div id = "discuss_q">
        {{ discuss_q| safe }}
      </div>

      <div id = "activities">
        {{ activities| safe }}

      </div>
    {% endif %}
  {% else %}
    <div id = "content">
        {{ content|default:"" }}
      </div>

      <div id = "keywords">
        {{ keywords| safe}}
      </div>

      <div id = "discuss_q">
        {{ discuss_q| safe }}
      </div>

      <div id = "activities">
        {{ activities| safe }}
    </div>
  {% endif %}
</div>

{% for plugin in plugins %}
  {% if plugin.RenderMedia.css %}
    {% addtoblock "css" %}
      {% for media, url in plugin.RenderMedia.css.items %}
        <link rel="stylesheet" href="{% static url %}" />
      {% endfor %}
    {% endaddtoblock %}
  {% endif %}
  {% if plugin.RenderMedia.js %}
    {% addtoblock "js" %}
      {% for url in plugin.RenderMedia.js %}
        <script type="text/javascript" src="{% static url %}"></script>
      {% endfor %}
    {% endaddtoblock %}
  {% endif %}
{% endfor %}


<!--{% load wiki_tags i18n cache sekizai_tags static %}-->

<!--{% addtoblock "js" %}-->
<!--  <script type="text/javascript" src="{% static "wiki/js/article.js" %}"></script>-->
<!--{% endaddtoblock %}-->

<!--<div class="wiki-article">-->
<!--  {% if not preview %}-->
<!--    {% if article.current_revision %}-->
<!--      {{ article.get_cached_content }}-->
<!--    {% endif %}-->
<!--  {% else %}-->
<!--    {{ content|default:"" }}-->
<!--  {% endif %}-->
<!--</div>-->

<!--{% for plugin in plugins %}-->
<!--  {% if plugin.RenderMedia.css %}-->
<!--    {% addtoblock "css" %}-->
<!--      {% for media, url in plugin.RenderMedia.css.items %}-->
<!--        <link rel="stylesheet" href="{% static url %}" />-->
<!--      {% endfor %}-->
<!--    {% endaddtoblock %}-->
<!--  {% endif %}-->
<!--  {% if plugin.RenderMedia.js %}-->
<!--    {% addtoblock "js" %}-->
<!--      {% for url in plugin.RenderMedia.js %}-->
<!--        <script type="text/javascript" src="{% static url %}"></script>-->
<!--      {% endfor %}-->
<!--    {% endaddtoblock %}-->
<!--  {% endif %}-->
<!--{% endfor %}-->
