{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <link href="{% static "homepage.css" %}" rel="stylesheet">

  </head>

  <body>

    
    <div class="card transition">
      <h2 class="transition">Awesome Headline</h2>
      <p>Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <div class="cta-container transition"><a href="#" class="cta">Call to action</a></div>
      <div class="card_circle transition"></div>
    </div>


  </body>
</html>

