{% extends "wiki/base.html" %}
{% load sekizai_tags i18n wiki_tags static %}

{% block wiki_contents %}
<link href="{% static "homepage.css" %}" rel="stylesheet">
    <h1 class="animated fadeIn">
    <span class="big-line">
      Welcome to Dreamporte</span>

      
          <form id="hsearch" method="GET" action="{% url 'wiki:search' %}">
            
            <div class="input-group">
              <input type="search" class="form-control search-query" name="q" placeholder="{% trans "Search..." %}" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="fa fa-search"></span>
                </button>
              </span>
            </div><!-- /input-group -->
          </form>
              
                
    </span>
  </h1>


    <!-- <div class="card transition">
          <h2 class="transition">Awesome Headline</h2>
          <p>Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.</p>
          <div class="cta-container transition"><a href="#" class="cta">Call to action</a></div>
          <div class="card_circle transition"></div>
    </div> -->



<ul class="cards">
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--river"></div>
      <div class="card__content">
        <div class="card__title">Earth & Planetary Sciences</div>
        <p class="card__text">Zoom into learning about Earth and other planets. See Earth and and the planets in an utterly novel way! </p>
        <a href="http://dreamporte.pythonanywhere.com/space/" class="btn btn--block card__btn">Whisk me away!</a>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--fence"></div>
      <div class="card__content">
        <div class="card__title">Environmental Sciences</div>
        <p class="card__text">We are the product of our environement. What is the state of our environement today?</p>
        <a href="http://dreamporte.pythonanywhere.com/conservation_and_the_environment/" class="btn btn--block card__btn">See our Environement</a>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--life"></div>
      <div class="card__content">
        <div class="card__title">Life Sciences</div>
        <p class="card__text">What is the meaning of life? Well, that's a hard one, but we do know a lot about how life works. </p>
        <a href="http://dreamporte.pythonanywhere.com/lifescience/" class="btn btn--block card__btn">How does life work?</a>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--flowers"></div>
      <div class="card__content">
        <div class="card__title">Social Studies: Ancient Civilizations</div>
        <p class="card__text">Our civilization is built upon the shoudlers of giants: Rome and Greece. Learn about Rome and Greece and their impact on the modern world."</p>
         <a href="http://dreamporte.pythonanywhere.com/lifescience/" class="btn btn--block card__btn">Ancient Civilizations</a>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--flowers"></div>
      <div class="card__content">
        <div class="card__title">Social Studies: Cultures</div>
        <p class="card__text">People are different. How different? Explore different cultures around the world.</p>
         <a href="http://dreamporte.pythonanywhere.com/lifescience/" class="btn btn--block card__btn">Begin Exploring</a>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--flowers"></div>
      <div class="card__content">
        <div class="card__title">Social Studies: Modern Issues</div>
        <p class="card__text">We live in a challenging time. Learn about modern issues affecting the present and future.</p>
         <a href="http://dreamporte.pythonanywhere.com/lifescience/" class="btn btn--block card__btn">Oy Vey!</a>
      </div>
    </div>
  </li>
</ul>
{% endblock %}

