{% extends "wiki/base.html" %}
{% load sekizai_tags i18n wiki_tags static %}

{% block wiki_contents %}

    <h1 class="animated fadeIn">
    <span class="small-line">
      Welcome to Dreamporte
    </span>
    <span class="big-line">
      CINEMATIC VR
      <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" id="wiki-search-form" method="GET" action="{% url 'wiki:search' %}">
            <div class="input-group">
              <input type="search" class="form-control search-query" name="q" placeholder="{% trans "Search..." %}" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="fa fa-search"></span>
                </button>
              </span>
            </div><!-- /input-group -->
          </form>
    </span>
  </h1>

    <link href="{% static "homepage.css" %}" rel="stylesheet">

    <div class="card transition">
          <h2 class="transition">Awesome Headline</h2>
          <p>Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.</p>
          <div class="cta-container transition"><a href="#" class="cta">Call to action</a></div>
          <div class="card_circle transition"></div>
    </div>
{% endblock %}

